<suite name="BuggyCarsTest">
    <test name="Login">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
    <test name="Register">
        <classes>
            <class name="tests.RegisterTests"/>
        </classes>
    </test>
    <test name="ProfileCreation">
        <classes>
            <class name="tests.ProfileTests"/>
        </classes>
    </test>

    <test name="CarDetails">
        <classes>
            <class name="tests.CarDetailsTests"/>
        </classes>
    </test>

</suite>